---
layout: default
title: FAQs
permalink: /faq/
---


<link rel="stylesheet" href="{{site.baseurl}}/css/bootstrap.css">
<link rel="stylesheet" href="{{site.baseurl}}/css/faq_style.css">

<link rel="stylesheet" href="{{site.baseurl}}/css/contact_me.css">


<script>
    function showSection(){
        var url = window.location.href;
        var start = url.substr(url.indexOf("#"));
        $(start).show();
        location.hash = start;
    //$(".faq-item").hide();
    //$("#"+id).show();
    }
    window.onload = showSection;
    window.addEventListener("hashchange", showSection);

</script>


<section class="pt-100 pb-100">
    
    <section class="faqsection page-title" onhashchange="showSection()">
        <div class="row">
            <div class="col-sm-8 m-auto">
                <!-- Page Title -->
                <h1 style="text-align: center;">Frequently Asked Questions</h1>
                <!-- Page Description -->
                <p></p>
            </div>
        </div>
    </section>

    <section class="faq-category faq faqsection pt-0">
        <div class="row">
                <!--
                <div class="col-md-3">
                    <nav class="faq-category-nav">
                        <ul>
                            <li onclick="showSection('faq_gen')" ;="">General</li>
                            <li onclick="showSection('faq_basic')" ;="">The Basic</li>
                            <li onclick="showSection('faq_app')" ;="">The App</li>
                        </ul>
                    </nav>
                </div>
                -->

                <div class="col-lg-9 m-auto">
                    
                    {% for faqtopic in site.data.faq.faqdata %}

                    <div class="block shadow  mb-50">                    
                        <div class="faq-item" id="faq_{{faqtopic.name}}_info" style="display: block;">
                            
                            <!-- Title -->
                            <div class="faq-item-title">
                                <h2>{{faqtopic.name}}</h2>
                            </div>

                            <!-- Get Started Accordion -->
                            <div id="gstAccordion" data-children=".item">
                            
                            {% for doubt in faqtopic.questions %}
                            
                            <!-- Accordion Items -->
                            <div class="item">
                                <div class="item-link">
                                    <a data-toggle="collapse" data-parent="#gstAccordion" 
                                    href="#{{faqtopic.name}}_{{doubt.id}}">
                                        {{doubt.ques}}
                                    </a>
                                    <div id="{{faqtopic.name}}_{{doubt.id}}" class="collapse accordion-block">
                                        <p>
                                            {{doubt.ans}}
                                        </p>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}

                            </div>
                        </div>
                    </div>

                    {% endfor %}

                </div>
        </div>    
    </section>

    <section id="FAQ Form">
    <div class="row">
        <div class="col-lg-9 m-auto" style="padding-left: 6%;padding-right: 6%;">
            <hr class="mb-30 mt-20">
            <h3 class="pb-30">Anything Else?</h3>
             
            <!--Add Quote Form Here-->

            <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-app.js"></script>
            <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-database.js"></script>

            <form id="contactForm_new" class="contact-form"></form>

                
                <input type="text" name="name" id="name" placeholder="{{site.data.settings.formhold.name}}" required>
                <input type="email" name="email" id="email" data-validate="{required:true, 'validate-email':true}" placeholder="{{site.data.settings.formhold.mail-id}}" required>
                <input type="tel" name="phone" id="phone" placeholder="{{site.data.settings.formhold.phone_optional}}" onkeypress="return isNumberKey(event)">
                <textarea name="message" rows="5" id="message" placeholder="{{site.data.settings.formhold.faq}}" style="margin-bottom: 20px;" required></textarea>

                <div class="container" style="padding-left: 0; padding-right: 0; margin-top: 20px; display: flex; justify-content: center;align-items: center;">
                    <button type="submit" title="Submit" class="btn-xl round-edge no-edge">
                        <span>Submit</span>
                    </button>
                </div>
                <div class="firebase_store_status">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                    <strong>Success!</strong> Your message has been sent.    
                </div>

            </form>
        </div>
    </div>

    </section>
    
</section>