---
layout: default
title: FAQs
permalink: /faq/
---


<link rel="stylesheet" href="{{site.baseurl}}/css/bootstrap.css">
<link rel="stylesheet" href="{{site.baseurl}}/css/faq_style.css">

<script>
    function showSection(){
        var url = window.location.href;
        var start = url.substr(url.indexOf("#"));
        $(start).show();
        location.hash = start;
    //$(".faq-item").hide();
    //$("#"+id).show();
    }
    window.onload = showSection;
    window.addEventListener("hashchange", showSection);

</script>


<section class="pt-100 pb-100">
    
    <section class="faqsection page-title" onhashchange="showSection()">
        <div class="row">
            <div class="col-sm-8 m-auto">
                <!-- Page Title -->
                <h1 style="text-align: center;">Frequently Asked Questions</h1>
                <!-- Page Description -->
                <p></p>
            </div>
        </div>
    </section>

    <section class="faq-category faq faqsection pt-0">
        <div class="row">
                <!--
                <div class="col-md-3">
                    <nav class="faq-category-nav">
                        <ul>
                            <li onclick="showSection('faq_gen')" ;="">General</li>
                            <li onclick="showSection('faq_basic')" ;="">The Basic</li>
                            <li onclick="showSection('faq_app')" ;="">The App</li>
                        </ul>
                    </nav>
                </div>
                -->

                <div class="col-lg-9 m-auto">
                    
                    {% for faqtopic in site.data.faq.faqdata %}

                    <div class="block shadow  mb-50">                    
                        <div class="faq-item" id="faq_{{faqtopic.name}}_info" style="display: block;">
                            
                            <!-- Title -->
                            <div class="faq-item-title">
                                <h2>{{faqtopic.name}}</h2>
                            </div>

                            <!-- Get Started Accordion -->
                            <div id="gstAccordion" data-children=".item">
                            
                            {% for doubt in faqtopic.questions %}
                            
                            <!-- Accordion Items -->
                            <div class="item">
                                <div class="item-link">
                                    <a data-toggle="collapse" data-parent="#gstAccordion" 
                                    href="#{{faqtopic.name}}_{{doubt.id}}">
                                        {{doubt.ques}}
                                    </a>
                                    <div id="{{faqtopic.name}}_{{doubt.id}}" class="collapse accordion-block">
                                        <p>
                                            {{doubt.ans}}
                                        </p>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}

                            </div>
                        </div>
                    </div>

                    {% endfor %}

                </div>
        </div>    
    </section>

    <section id="FAQ Form">
        <div class="container">
            <hr class="mb-30 mt-20">
            <h3 class="pb-30">Send A Message</h3>
            
            <!--Add Quote Form Here-->
            <form class="contact-form" action="SITEcontact/index/post/" id="contact-form" method="post"
                data-hasrequired="* Required Fields" novalidate="novalidate">
            
                <p><input name="name" id="name" title="Name" placeholder="Name" value="" class="input-text" type="text"
                        data-validate="{required:true}"></p>
                <p><input name="email" id="email" title="Email" placeholder="Email" value="" class="input-text" type="email"
                        data-validate="{required:true, 'validate-email':true}"></p>
                <p><input name="telephone" data-validate="{'validate-number':true , required:true}" id="telephone"
                        title="Phone Number" placeholder="Phone Number" value="" class="input-text" type="text"></p>
                <p><textarea name="comment" id="comment" title="What’s on your mind?" placeholder="What’s on your mind?"
                        class="input-text" cols="5" rows="3" data-validate="{required:true}"></textarea></p>
                <div class="field captcha required" role="contact_us">
                    <label for="captcha_contact_us" class="label"><span>Please type the letters and
                            numbers below</span></label>
                    <div class="control captcha">
                        <input name="captcha[contact_us]" type="text" class="input-text required-entry"
                            data-validate="{required:true}" id="captcha_contact_us" autocomplete="off" aria-required="true">
                        <div class="nested">
                            <div class="field captcha no-label" data-captcha="contact_us" id="captcha-container-contact_us">
                                <div class="control captcha-image">
                                    <img alt="Please type the letters and numbers below" class="captcha-img" height="50"
                                        src="SITEmedia/captcha/base/abdc2ae1fc50011be003d390775cb494.png">
                                    <button type="button" class="action reload captcha-reload" title="Reload captcha"><span>Reload
                                            captcha</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="form-actions">
                    <button type="submit" title="Submit" class="btn-xl">
                        <span>Submit</span>
                    </button>
                </div>
            </form>
        </div>
    </section>

</section>