---
layout: default
title: Workflow
permalink: /workflow/
---

<style>

    input {
        margin-bottom: 20px;
    }

</style>

<section id="workflow">
    <div class="container pt-100 pb-100">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Experience</h2>
                <h3 class="section-subheading text-muted">{{ site.data.settings.workflow.intro }}</h3>
            </div>
        </div>
        <div class="row pb-30">
            <div class="col-lg-12">
                <ul class="timeline">

                    {% for moment in site.data.settings.workflow.timelinedata %}
                        {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
                        
                        {% if thecycle == 'odd' %}
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="{{site.baseurl}}/images/{{moment.img}}" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="subheading text-dark">{{moment.head1}}</h3>
                                <h4 class="subheading">{{moment.head2}}</h4>
                                <h5 class="subheading">{{moment.subhead}}</h5>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    {{moment.desc}}
                             </p>
                            </div>
                        </div>
                    </li>
                    {% else %}

                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="{{site.baseurl}}/images/{{moment.img}}" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="subheading text-dark">{{moment.head1}}</h3>
                                <h4 class="subheading">{{moment.head2}}</h4>
                                <h5 class="subheading">{{moment.subhead}}</h5>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    {{moment.desc}}
                             </p>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                    {% endfor %}

                    <li class="timeline-inverted rem_pad">
                        <div class="timeline-image"  style="display: flex; align-content: center; justify-content: center;">
                            <h5 style="align-self: center; font-size: 1.25vw;">
                                {{ site.data.settings.workflow.flow_end }}
                            </h5>
                        </div>
                    </li>

                </ul>
            </div>
        </div>

        <hr class="mb-30 mt-20">
        <h3 class="pb-30">Send A Message</h3>

          <!--Add Quote Form Here-->
    <form class="contact-form" action="SITEcontact/index/post/"
    id="contact-form" method="post" data-hasrequired="* Required Fields"
    novalidate="novalidate">

    <p><input name="name" id="name" title="Name" placeholder="Name" value=""
            class="input-text" type="text" data-validate="{required:true}"></p>
    <p><input name="email" id="email" title="Email" placeholder="Email" value=""
            class="input-text" type="email"
            data-validate="{required:true, 'validate-email':true}"></p>
    <p><input name="telephone" data-validate="{'validate-number':true , required:true}"
            id="telephone" title="Phone Number" placeholder="Phone Number" value=""
            class="input-text" type="text"></p>
    <p><textarea name="comment" id="comment" title="What’s on your mind?"
            placeholder="What’s on your mind?" class="input-text" cols="5" rows="3"
            data-validate="{required:true}"></textarea></p>
    <div class="field captcha required" role="contact_us">
        <label for="captcha_contact_us" class="label"><span>Please type the letters and
                numbers below</span></label>
        <div class="control captcha">
            <input name="captcha[contact_us]" type="text" class="input-text required-entry"
                data-validate="{required:true}" id="captcha_contact_us" autocomplete="off"
                aria-required="true">
            <div class="nested">
                <div class="field captcha no-label" data-captcha="contact_us"
                    id="captcha-container-contact_us">
                    <div class="control captcha-image">
                        <img alt="Please type the letters and numbers below"
                            class="captcha-img" height="50"
                            src="SITEmedia/captcha/base/abdc2ae1fc50011be003d390775cb494.png">
                        <button type="button" class="action reload captcha-reload"
                            title="Reload captcha"><span>Reload captcha</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-actions">
        <button type="submit" title="Submit" class="btn-xl">
            <span>Submit</span>
        </button>
    </div>
    </form>

    </div>
</section>