<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-database.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyBzUenAKfCZUPllQHhirx3aiDoTUfNsR54",
    authDomain: "project-hawk-pka.firebaseapp.com",
    databaseURL: "https://project-hawk-pka.firebaseio.com",
    projectId: "project-hawk-pka",
    storageBucket: "project-hawk-pka.appspot.com",
    messagingSenderId: "471019199012",
    appId: "1:471019199012:web:e397661b7277e96dcb16b1",
    measurementId: "G-K2N66FYCPQ"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>

