<meta name="viewport" content="width=device-width, initial-scale=1">


<style>
      .scroll_button{
        background-color: goldenrod !important;
        color: white !important;
    }
    .scroll_button:hover{
        background-color: transparent !important;
        color: black !important;
    }
</style>
<!-- begin c-hero -->
<section id="hero">
<div class="hero">
  <div class="container">

    <div class="header_h">
    
      <div class="content_h">
        <div class="hero__content">
          <h1 class="hero__title" style="margin-bottom: 10px; font-size: 38px;">{{ site.data.settings.intro.say-hello }}</h1>
          <p class="hero__subtitle" style="font-size: 18px; text-align: left;">{{ site.data.settings.intro.bio }}
            <div class="container text-center" style="padding-left: 0; padding-right: 0; margin-top: 20px; display: flex; justify-content: left; align-items: center;">     
              <p style="color:black; width: auto !important;">
                <h4>Book Consultation At:</h4>
              </p>
          </div>
          <h4>
            <span style='color:red;text-decoration:line-through; text-decoration-thickness: 2px;'>
              <span style='color:black'> &#x20B9 2000</span>
            </span></h4>
            <h4>
            <span style='color:black'>&#x20B9 0</span>
            </h4>
          <div class="container text-center" style="padding-left: 0; padding-right: 0; margin-top: 20px; display: flex; justify-content: left; align-items: center;">     
            <a href="{{site.baseurl}}/workflow/#OrderFormSection" class="btn-sm round-edge no-edge scroll_button" style="color:black; width: auto !important;">
              <span>         Book Free Consultation Now!         </span>
            </a>
        </div>
          </p>
        </div>
      </div>
      <div class="image_h">
        
          <!--THIS IS CAROUSEL | Change data-interval for speed-->
          <div id="hero_carousel" class="carousel slide" data-ride="carousel" data-interval="3000">
    
            <!-- Indicators -->
            <ul class="carousel-indicators" >
              {% for slide in site.data.settings.intro.slideshow %}
                {% if forloop.index == 1 %}
                  <li data-target="#hero_carousel" data-slide-to="{{forloop.index | minus: 1}}" class="active" style="background-color: darkslategray;"></li>
                {% else %}
                  <li data-target="#hero_carousel" data-slide-to="{{forloop.index | minus: 1}}" style="background-color: darkslategray;"></li>
                {% endif %}
              {% endfor %}
            </ul>
            
            <!-- The slideshow -->
            <div class="carousel-inner">
              {% for slide in site.data.settings.intro.slideshow %}
                {% if forloop.index == 1 %}
                  <div class="carousel-item active">
                    <img src="{{site.baseurl}}/images/{{slide.img}}" alt="{{slide.alt}}">
                    <div class="carousel-caption" style="color: black;">
                      <h3>{{slide.title}}</h3>
                      <p>{{slide.cap}}</p>
                    </div>
                  </div>
                {% else %}
                  <div class="carousel-item">
                    <img src="{{site.baseurl}}/images/{{slide.img}}" alt="{{slide.alt}}">
                    <div class="carousel-caption" style="color: black;">
                      <h3>{{slide.title}}</h3>
                      <p>{{slide.cap}}</p>
                    </div>
                  </div>
                {% endif %}
              {% endfor%}

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#hero_carousel" data-slide="prev">
              <i class="fa fa-2x fa-angle-left" style="color: black;"></i>
            </a>
            <a class="carousel-control-next" href="#hero_carousel" data-slide="next">
              <i class="fa fa-2x fa-angle-right" style="color: black;"></i>
            </a>
    
          </div>
      </div>
    </div>
  </div>
</div>
</div>
</section>
<!-- end hero -->

<!--
<div class="hero__social">
  <span class="hero__social-title">Follow Me |</span>
  {% include contact-link.html %}
</div>
-->