
<style>
.request-call {
    position: fixed;
    right: 0;
    top: 0;
    top: 230px;
    width: 65px;
    outline: none;
    z-index: 999;
}
.request-call_mob {
    position: fixed;
    left: 0;
    bottom: 0;
    bottom: 60px;
    width: 45px;
    outline: none;
    z-index: 999;
    display: none;
}

@media only screen and (max-width: 1099px){
    .request-call {
        display: none;
    }
    .request-call_mob {
        display: block;
    }
}

input {
        margin-bottom: 20px;
    }
</style>

<a class="request-call" href="" data-toggle="modal" data-target="#modalContactForm">
  <img class="lazy2 loaded" alt="Request a call back" src="{{site.baseurl}}/images/site_images/req-call.png">
</a>

<a class="request-call_mob" href="" data-toggle="modal" data-target="#modalContactForm">
  <img class="lazy2 loaded" alt="Request a call back" src="{{site.baseurl}}/images/site_images/req-call_mob.png">
</a>


<div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <div class="modal-header text-center" style="border-bottom: none; padding-bottom:6px;">
        <h4 class="modal-title w-100 font-weight-bold">Request a Callback</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <p class="w-100 text-center" style="border-bottom: 1px solid #dee2e6; padding-bottom: 16px;">Fill in the details and we will get in touch shortly.</p>
      
      <form id="req_callback_form" class="contact-form">

      <div class="modal-body mx-3">
        <div class="md-form mb-2 mt-2">
        
            <input type="text" name="name" id="rcb-name" placeholder="{{site.data.settings.formhold.name}}" required>
            <input type="email" name="email" id="rcb-email" data-validate="{required:true, 'validate-email':true}" placeholder="{{site.data.settings.formhold.mail-id}}" required>
            <input type="tel" name="phone" id="rcb-phone" placeholder="{{site.data.settings.formhold.phone}}" onkeypress="return isNumberKey(event)" required>
           
        </div>

        <div class="modal-footer d-flex justify-content-center">
          <div class="container" style="padding-left: 0; padding-right: 0; margin-top: 20px; display: flex; justify-content: center;align-items: center;">
            <button type="button" title="Submit" class="btn-lg round-edge no-edge" onclick=" submitCallback();">
                <span>Submit <i class="fa fa-send ml-2"></i></span>
            </button>
        </div>
        <div class="firebase_store_status" id="rcb-fire-success">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
            <strong>Success!</strong> Your message has been sent.    
        </div>
        <div class="firebase_store_status" id="rcb-fire-fail" style="background:pink;">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
            <strong>Error!</strong> Please Try Again Later.    
        </div>
        </div>
      
      </form>

    </div>
  </div>
</div>
</div>