<section id="SimpleSteps">
    <div class="container">
        <div class="blog-wrapper alternate_posts">

            {% for step in site.data.settings.simplesteps %}
            
            <div class="row fadeIn pb-100" data-wow-duration="2s"
                style="visibility: visible; animation-duration: 2s; animation-name: fadeIn;">
                    <div class="col-md-6">
                        <div class="thumb-image warm" >
                            <img src="{{site.baseurl}}/images/{{step.image}}" alt="{{step.alt}}" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="blog-content">
                            <div class="right-text" >
                                <div class="blog-title">
                                    <h2>{{step.title}}</h2>
                                </div>
                                <p></p>
                                <p style="text-align: justify; font-size: 17px;">
                                    {{step.desc}}
                                </p>
                                <!--
                                <div class="btn-read-more"><a href="">Read More</a>
                                </div>
                                -->
                            </div>
                        </div>
                    </div>
            </div>
            
            {% endfor %}

        </div>

    </div>
</section>