<!-- About Section -->
    <section id="experience">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Experience</h2>
                    <h3 class="section-subheading text-muted">Experience is the best teacher!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3 class="subheading text-dark">The Arctic University (UiT)</h3>
                                    <h3 class="subheading text-dark">Norway</h3>
                                    <h4 class="subheading">Research Intern</h4>
                                    <h5 class="subheading">June-Aug 20</h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        I worked as a research intern to build up a Scanning
                                        acoustic microscope from scratch using National Instruments
                                        FPGA and hardware. I also published two papers related to acoustic
                                        imaging during this tenure.
                                        The details of the project and the papers can be viewed in subsequent section.
                                 </p>
                                </div>
                            </div>
                        </li>
                        
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3 class="subheading text-dark">Picostone Tech. Pvt. Ltd.</h3>
                                    <h3 class="subheading text-dark">Mumbai</h3>
                                    <h4 class="subheading">Embedded Systems Intern</h4>
                                    <h5 class="subheading">May-July 19</h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Developed a hardware system based on NRF52 and ATMEGA 328 to automate the testing procedure for all products.
                                        The device was capable of testing a circuit on parameters such as RF signal strength, Leakage current from
                                        capacitors, current consumption, etc. A complete PCB was designed in KiCad. A python interface was also developed
                                        to monitor all the testing procedures in the company.
                                        The details of the project can be viewed in subsequent section.
                                 </p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel rem_pad">
                                <div class="timeline-heading">
                                    <h3 class="subheading text-dark">RoboISM</h3>
                                    <h3 class="subheading text-dark">Robotics and AI Club</h3>
                                    <h3 class="subheading text-dark">IIT Dhanbad</h3>
                                    <h4 class="subheading">Student Coordinator</h4>
                                    <h5 class="subheading">July 17 - July 20</h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Holding this post makes me responsible for all the decisions regarding the club. It gives me the opportunity to work
                                        with and lead highly skilled like people working towards a common goal, learning exceptional things in the process.
                                    </p>
                                </div>
                            </div>
                        </li>
                        </li>

                        <li class="timeline-inverted rem_pad">
                            <div class="timeline-image">
                                <h5>Available
                                    <br>for
                                    <br>Hire!</h5>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>