.header_h{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;

}

.content_h{
  max-width: 50%;
}

.image_h{
  max-width: 50%;
}

@media screen and (max-width: 1280px) {}
@media screen and (max-width: 980px) {}
@media screen and (max-width: 980px) and (orientation: portrait) {}
@media screen and (max-width: 756px) {}
@media screen and (max-width: 756px) and (orientation: landscape) {}
@media screen and (max-width: 756px) and (orientation: portrait) {
  
  .content_h{

    order: 2;
    max-width: 100%;
  }
  
  .image_h{
    order: 1;
    margin: 20px auto;
    max-width: 100%;
  }
}
@media screen and (max-width: 480px) and (orientation: landscape) {}
@media screen and (max-width: 480px) and (orientation: portrait) {}