.team-wrap{
    text-align: center;
    padding: 100px 0;
}
.section-heading{    
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 38px;
}

.section-subheading{
    margin-bottom: 75px;
    text-transform: none;
    font-family: $base-font-family;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
} 
.text-muted{}

.text-center{
    text-align: center;
}

.img-responsive{
	display:block;
	width:100% \9;
	max-width:100%;
	height:auto
}
.img-circle {
	border-radius:50%
}
.list-inline {
	padding-left:0;
	list-style:none;
	margin-left:-5px
}
.list-inline>li {
	display:inline-block;
	padding-left:5px;
	padding-right:5px
}
ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    
}

.team-member {
    margin-bottom: 50px;
    text-align: center;
}

.team-member img {
    margin: 0 auto;
    border: 7px solid #fff;
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}

.team-member p {
    margin-top: 0;
}

.col-lg-offset-2{margin-left:16.66666667%}

#team .bg-gray{background: #f5f5f5;}